<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" th:href="@{font/css/font-awesome.min.css}">
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/assets/css/desk_home.css}">
</head>
<body>
    <footer>
       <section class="foot">
		   <div class="container fooder">
			   <div class="Fooder_sec">
				   <div style="padding: 56px;">
					   <p>@slaproject</p>
				   </div>
				   <div style="padding: 56px;">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-whatsapp" aria-hidden="true"></i>


				   </div>
				   <div class="footer_content">
					   <h6>Contuct Us</h6>
					 <p>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
				   </div>
			   </div>
			   
		   </div>
	   </section>
    </footer>
</body>
</html>
